@tailwind base;
@tailwind components;
@tailwind utilities;
.overlay {
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: #dc5f00;
}

.startScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #686d76;
}

.startButton {
  font-size: 16px;
  font-weight: 1000;
  cursor: pointer;
  background-color: #373a40;
  border-radius: 10px;
}
